.s-dataEmpresa {
  .container-2 {
    border-bottom: 2px solid $corPrimaria;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: flex-end;
    column-gap: 25px;
    .investido {
      text-align: center;
      border-radius: 2rem;
      background-color: $corWarning;
      .card-box {
        position: relative;
        border-radius: 3rem;
        padding: 0.5rem 0 2rem 0;
        color: $corWhite;
        h2,
        h3 {
          color: $corWhite;
          padding: 0.5rem 2rem;
        }
        h3 {
          background-color: $corPrimaria;
          color: $corWhite;
        }
        span {
          // position: absolute;
          top: 0.5rem;
          display: inline-block;
          padding: 0.5rem 1rem;
          width: 100%;
          font-size: 2rem;
          text-transform: uppercase;
          // background-color: $corWarning;
        }
      }
      .card-box:first-child {
        background-color: $corWarning;
      }
    }
    .investido:last-child {
      background-color: $corGreen;
      .card-box {
        background: none;
      }
    }
  }
}

.s-analytic {
  background-color: $corBackground-1;
  .container-2 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 66px auto;
    row-gap: 2rem;
    grid-template-areas:
      "name name"
      "dados dados";
  }
  h2 {
    grid-area: name;
  }
  .empresas {
    grid-area: dados;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    // justify-content: space-between;
    align-items: center;
    gap: 25px;
    grid-template-areas:
      "name name"
      "dados dados";

    .empresa {
      button {
        margin: 2rem 0;
        background-color: red;
      }
      button:nth-child(2) {
        background-color: blue;
      }
      // height: 100%;
      position: relative;
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      span {
        margin: 2rem 0;
      }
    }
    .imageEmpresa {
      display: block;
      max-width: 422px;
      display: flex;

      .content-image {
        margin-bottom: 3.5rem;
      }
    }
    .analytic {
      display: flex;
      width: 422px;
      .content-analytic {
        object-fit: cover;
        position: relative;
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 3.5rem;
      }
    }
  }
}
