$color-primary: #383bff;
// $color-primary: #01038A;
$secondary: #047aed;

$white: #fff;
$white-gray: #f4f4f4;

$color-gray-texto: #424242;
$gradient: linear-gradient(
  180deg,
  rgba(1, 3, 138, 0.33) 0%,
  rgba(4, 122, 237, 0.4) 100%
);

section.busca {
  position: relative;
  // background-color: $secondary;
  // background-image: url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/148376/148376_00_2x.jpg');
  background-image: url("https://plc.pearson.com/sites/pearson-corp/files/styles/desktop/public/pearson/our-company/company-banner.jpg?itok=EokCnOZp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .min-container {
    position: relative;
    z-index: 100;
    // min-height: 20vh;
    h1 {
      margin: 25px;
      font-weight: normal;
      color: $white;
      text-align: center;
      text-transform: capitalize;
    }
    .form-busca {
      background-color: #383bff;
      .form-control {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          height: 40px;
          width: 100%;
          padding-left: 15px;
        }

        button {
          i {
            color: #fff;
            font-size: 2rem;
          }
        }
      }
    }
  }
}

// estilos para filtro
section.filter-busca {
  background-color: $secondary;
  .container {
    .header-filter {
      height: 50px;
      width: 100%;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        li {
          margin: 0 10px;
          border-left: 1px solid $color-primary;
          border-right: 1px solid $color-primary;
          padding: 0 15px;
          &:hover {
            background-color: #383bff;
            color: $white;
          }

          a {
            color: $color-gray-texto;
            font-weight: 700;
            color: $white;
            &:hover {
              background-color: #383bff;
              color: $white;
            }
          }
        }
      }
    }
  }
}

section.s-lista-empresa {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  .compania {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    .company {
      position: relative;
      flex-basis: 1;
      width: 28.33%;
      margin: 12px 12px;
      &:last-child {
        margin-bottom: 220px;
      }
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .favorite {
        display: none;
        position: absolute;
        padding: 10px 5px;
        text-align: center;
        border-radius: 30rem;
        background-color: #383bff;
        i {
          font-size: 3rem;
          color: #fff;
        }
      }

      .details-company {
        // background-color: #eb4747;
        background-color: #11052c;
        cursor: pointer;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
        padding: 2rem 0;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
  .br {
    background-color: $corPrimaria;
    padding: 12px;
    color: $corWhite;
    font-weight: 600;
    &:hover{
      background-color: $secondary;
    }
  }
}
