@mixin flex($direction, $align, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin shadow($radius) {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $radius;
}

@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

button {
  cursor: pointer;
  // border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s;
  font-size: 1.4rem;
}

// Container area que centraliza o conteudo do site
.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// fim container

// tabela do site
@mixin tables {
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    // border: 1px solid #ccc;

    thead {
      // @include shadow(0px);

      tr {
        th {
          border-bottom: 1px solid #ccc;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}
