
$corPrimaria: #1363df ;
$corSecondary: #3ab0ff;
$corBackground-1: #9fb4ff;
$corRoza: #eb4747;
$corfile: #15133c;
$corBackground-1: #15133c;

// $corCentral: #01038a;
$corCentral: #383bff;
$corLink: #787878;
$corDark: #000036f0;
$corBackground: #f1f1f1;
$corWhite: #ffffff;
$corTexto: #242424;
$corGreen: #02de5a;
$corGray: #ccc;
$corWarning: #ff7a00;
// outras opciones
$corRgba: rgba(0, 0, 0, 0.5);
$corSombra: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
$corGradient: linear-gradient(
  180deg,
  rgba(1, 3, 138, 0.33) 0%,
  rgba(4, 122, 237, 0.4) 100%
);
$corFundoLinear: linear-gradient(
  94deg,
  rgba(0, 0, 0, 0.5) 0%,
  rgba(82, 85, 251, 0.25253851540616246) 100%
);
