.header-financiamento {
  background-color: $corPrimaria;
 .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
  .tipocompany {
    background-color: red;
    .empresa {
    }

  }
  .companyAtive{
    form{

      label{
  
        color: $corWhite;
        margin-right: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
          margin-right: 2rem;
        }
      }
    }
  }
 }
}

section.financiamento {
  position: relative;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50.5vh;
    z-index: 1;
    background-color: $corBackground-1 ;
  }
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .texto {
      text-align: center;
      width: 100%;
      max-width: 500px;
      margin: 36px 0;
      color: $corPrimaria;

      h1,p{
      color: $corPrimaria;

      }
      .title{
        font-size: 4rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        margin: 0;
      }
      .warning{
        color:  $corWarning;
        font-weight: 600;
      }
    }

    .contactArea{
      max-width: 700px;
      width: 100%;
      
      
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-control{
          display: flex;
          justify-content: space-between;
          column-gap: 20px;
          [type="text"]{
            height: 40px;
            width: 320px;
            margin: 10px 0;
            padding: 10px;
            font-size: 1.6rem;
            color: $corPrimaria;
            font-family: 'Roboto', sans-serif;
          }

        }

        .emailMobile{
          flex-direction: column;
        }

        .form-textarea{
          width: 100%;
          max-width: 700px;
          padding: 0 2%;
          textarea{
            width: 100%;
            height: 150px;
            padding: 10px;
            outline: none;
            resize: none;
            font-size: 1.6rem;
            color: $corTexto;

            &:is(:focus, :focus-visible){
              border:  2px solid $corSecondary;
            }
            &::-webkit-scrollbar{
              width: 0px;
            }
          }
          .shortInfo{
            background-color: $corPrimaria;
            padding: 10px 2px 10px 30px;
            align-items: center;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: space-between;

            span{
              width: 50%;
              color: $corWhite;
            }
            .mount{
              width: 50%;
              color: $corWhite;
              span{
                padding: 0 6px;
              }

              [type=number]{
                font-size: 1.6rem;
                color: $corPrimaria;
                padding: 10px;

              }
            }

          }
        }

        .form-submit{
          display: flex;
          justify-content: center;
          align-items: center;
          .send{
            background-color: $corBackground-1;
            padding:  10px 30px;
            font-size: 2rem;

          }
          // [type=submit]{
          //   // height: 40px;
          //   // width: 200px;
          //   background-color: $corBackground-1;
          //   color: $corWhite;
          //   font-size: 2rem;
          //   font-weight: 700;
          //   text-transform: uppercase;
          //   padding: 10px 20px;
          //   border: 1px solid $corPrimaria;
          // cursor: pointer;

          // }
        }
      }

    }
  }
}
