@import url("https://fonts.googleapis.com/css2? family= Lato:wght@400;700;900 & family= Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300 & family= Roboto:wght@400;500;700;900 & display=swap");
:root {
  font-size: 62.5%;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #047aed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .nav-flex {
  justify-content: space-between;
}
.header .navbar .logo {
  margin-right: 30px;
}
.header .navbar .menu li {
  margin-right: 10px;
  border-bottom: 1px solid transparent;
  transition: all ease-in 0.2s;
}
.header .navbar .menu li:hover {
  border-bottom: 1px solid #047aed;
}
.header .navbar .menu li a {
  color: #333;
  padding: 10px 10px;
}

.btn {
  padding: 1rem 5rem;
  border: 0;
  font-weight: 300;
  border-radius: 3rem;
  margin-right: 1.6rem;
  height: 100%;
}

button.reset a {
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 0;
}

.btn-primary {
  color: #fff;
  background-color: #383bff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #01038a;
  transform: translateY(-2px);
}

.secondary {
  border: 1px solid transparent;
}
.secondary:hover {
  color: #fff;
  border: 1px solid #fff;
}

.btn-2 {
  padding: 5px;
  width: 100%;
  color: #fff;
  background-color: #383bff;
}
.btn-2:hover {
  background-color: #01038a;
  border: 1px solid #fff;
  border-top: 0;
}

.btn-busca {
  height: 40px;
  width: 125px;
  background-color: #383bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.btn-busca:hover {
  background-color: #01038a;
  color: #fff;
}

.btn-submit {
  background-color: #383bff;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #383bff;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #d6d6f4;
  color: #01038a;
}

section.hero {
  background: linear-gradient(94deg, rgba(0, 0, 0, 0.5) 0%, rgba(82, 85, 251, 0.2525385154) 100%), url("../public/image/HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(96vh - 100px);
  position: relative;
  z-index: 1;
}
section.hero .hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
section.hero h1 {
  top: -60px;
  max-width: 500px;
  font-size: 3.6rem;
  color: #fff;
  margin-bottom: 3rem;
  z-index: 100;
}
section.hero h1 span {
  color: #383bff;
}

section.barra {
  height: 70px;
  background-color: #01038a;
}
section.barra .barra-flex {
  display: flex;
  align-items: center;
  height: 100%;
}
section.barra .info-barra {
  margin-right: 50px;
  color: #fff;
}

section.dicas {
  padding: 70px 0;
  background-color: #d6d6f4;
}
section.dicas h1.title-dicas {
  margin-bottom: 3.6rem;
  margin-left: 20rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
section.dicas h1.title-dicas span {
  color: #383bff;
}
section.dicas .info-dicas h3.title3 {
  color: #fff;
}
section.dicas .info-dicas p {
  color: #fff;
}
section.dicas .imagens img {
  display: block;
  max-width: 100%;
}
section.dicas .grid {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 30px;
  height: 100%;
}
section.dicas .box-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
}
section.dicas .box-dicas .info-dicas {
  width: 80%;
}

.luta {
  margin-top: 100px;
}

section.ipo {
  text-align: center;
}
section.ipo h2.title {
  margin: 5.6rem auto;
  font-size: 3rem;
  max-width: 600px;
  font-weight: 300;
  text-align: center;
}
section.ipo h2.title span {
  color: #383bff;
}
section.ipo h3 {
  margin: 1.9rem 0;
}
section.ipo div > .box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.ipo .circ {
  width: 33.33%;
  text-align: center;
}

section.aplicar {
  border-bottom: 1px solid #383bff;
}
section.aplicar .flex-aplicar {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
section.aplicar .texto {
  text-align: center;
}
section.aplicar .texto h2.h2 {
  margin: 3.6rem auto;
  font-size: 3rem;
  max-width: 500px;
  font-weight: 300;
  text-align: center;
}
section.aplicar .texto h2.h2 span {
  color: #383bff;
}
section.aplicar .texto p.description {
  width: 600px;
}
section.aplicar .image-aplicar {
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}
section.aplicar .image-aplicar .img-aplicar {
  width: 300px;
  margin: 0 3px;
  display: inline-block;
}
section.aplicar .image-aplicar .img-aplicar img {
  border-radius: 1rem;
}

section.investir {
  background: linear-gradient(180deg, rgba(1, 3, 138, 0.33) 0%, rgba(4, 122, 237, 0.4) 100%);
}
section.investir .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.investir .container .financiamento {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.investir .container .financiamento h3, section.investir .container .financiamento p, section.investir .container .financiamento h1 {
  margin-bottom: 3rem;
}
section.investir .container .financiamento .financ-details {
  display: flex;
  height: 100%;
}
section.investir .container .financiamento .financ-details .financ-box {
  width: 350px;
  height: 100%;
  background-color: #fff;
}

section.empresas {
  border-bottom: 1px solid #383bff;
}
section.empresas .container {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.empresas .container .box-company {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  height: inherit;
}

section.processo {
  border-bottom: 1px solid #383bff;
}
section.processo .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40vh;
  gap: 25px;
}
section.processo .container .text-left {
  text-align: center;
  max-width: 600px;
}
section.processo .container .proce-image {
  border-bottom: 6px solid #383bff;
  position: absolute;
  top: -86px;
  right: 99px;
}
section.parceiros {
  background-color: #01038a;
}
section.parceiros h1.title {
  text-align: center;
  color: #fff;
}
section.parceiros .min-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid: 50px;
  height: 100%;
  overflow: hidden;
}
section.parceiros .min-container .parce-slader {
  margin: 0 15px;
  max-width: 50px;
}
section.parceiros .min-container .parce-slader:first-child {
  margin-left: 0;
}

section.testemunho {
  background-color: rgba(0, 0, 54, 0.9411764706);
}
section.testemunho .title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
section.testemunho .min-container {
  max-width: 760px;
  border-radius: 15px;
  margin: 10px auto;
  padding: 30px 30px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
section.testemunho .min-container .progress-bar {
  height: 4px;
  background-color: #fff;
  width: 100%;
  animation: barra 10s linear infinite;
  transform-origin: left;
}
@keyframes barra {
  0% {
    transform: scaleX(0);
  }
}
section.testemunho .min-container .testimonial {
  line-height: 1.5;
  color: #fff;
  margin: 1rem 0;
  text-align: justify;
}
section.testemunho .min-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.testemunho .min-container .card .card-image {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
section.testemunho .min-container .user-details {
  margin-left: 23px;
  color: #fff;
}
section.testemunho .min-container .user-details .username {
  margin: 2px 0;
  color: #fff;
}
section.testemunho .min-container .user-details .role {
  color: #fff;
  margin: 1px 0;
}

section.news-lether {
  background-color: #383bff;
  text-align: center;
}
section.news-lether .min-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.news-lether .min-container h1.title {
  color: #fff;
}
section.news-lether .min-container .form {
  width: 700px;
}
section.news-lether .min-container .form .form-control {
  margin: 2rem 0;
}
section.news-lether .min-container .form .form-control input {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
}

section.empresa {
  position: relative;
  padding: 70px 0;
  margin-top: 7.1rem;
  background-color: red;
}

section.busca {
  position: relative;
  background-image: url("https://plc.pearson.com/sites/pearson-corp/files/styles/desktop/public/pearson/our-company/company-banner.jpg?itok=EokCnOZp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
section.busca .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
section.busca .min-container {
  position: relative;
  z-index: 100;
}
section.busca .min-container h1 {
  margin: 25px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
section.busca .min-container .form-busca {
  background-color: #383BFF;
}
section.busca .min-container .form-busca .form-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.busca .min-container .form-busca .form-control input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
}
section.busca .min-container .form-busca .form-control button i {
  color: #fff;
  font-size: 2rem;
}

section.filter-busca {
  background-color: #047aed;
}
section.filter-busca .container .header-filter {
  height: 50px;
  width: 100%;
}
section.filter-busca .container .header-filter ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
section.filter-busca .container .header-filter ul li {
  margin: 0 10px;
  border-left: 1px solid #383BFF;
  border-right: 1px solid #383BFF;
  padding: 0 15px;
}
section.filter-busca .container .header-filter ul li:hover {
  background-color: #383BFF;
  color: #fff;
}
section.filter-busca .container .header-filter ul li a {
  color: #424242;
  font-weight: 700;
  color: #fff;
}
section.filter-busca .container .header-filter ul li a:hover {
  background-color: #383BFF;
  color: #fff;
}

section.lista-empresa {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
section.lista-empresa .container {
  border-bottom: 2px solid #01038A;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0 0 35px 0;
}
section.lista-empresa .container .company {
  position: relative;
  transition: all ease 0.2s;
  border: 1px solid #01038A;
  background-color: #ffffff;
  width: 100%;
  max-width: 300px;
  margin: 10px 15px;
}
section.lista-empresa .container .company:hover {
  box-shadow: 0px 2px 10px #01038A;
}
section.lista-empresa .container .company .favorite {
  margin: 0;
  position: absolute;
  right: 25px;
  top: 16px;
}
section.lista-empresa .container .company .favorite .favorite-1 {
  position: relative;
  font-size: 2.6rem;
  color: #047aed;
  cursor: pointer;
}
section.lista-empresa .container .company .favorite .favorite-2 {
  display: none;
}
section.lista-empresa .container .company .details-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #383BFF;
  color: #fff;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
section.lista-empresa .container .company .details-company h2 {
  color: #fff;
}
section.lista-empresa button.btn-center {
  margin: 36px 0;
}

footer.rodape {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
footer.rodape section.footer-1 {
  background-color: #01038A;
}
footer.rodape section.footer-1 .container .footer-social {
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.rodape section.footer-1 .container .footer-social .social i {
  color: #fff;
  margin: 0 24px;
  font-size: 2rem;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
footer.rodape section.footer-1 .container .footer-social .social i:nth-child(1) {
  margin-left: 0;
}
footer.rodape section.footer-1 .container .footer-social .social i:hover {
  color: #047aed;
}
footer.rodape section.footer-1 .container .footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px 0 0 0;
}
footer.rodape section.footer-1 .container .footer-contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 23px;
  height: 100%;
  padding: 10px;
}
footer.rodape section.footer-1 .container .footer-contact .contact-info i {
  color: #fff;
}
footer.rodape section.footer-1 .container .footer-contact .contact-info h3 {
  color: #fff;
  font-size: 1.3rem;
}
footer.rodape section.footer-1 .container .footer-contact .contact-info p {
  color: #fff;
}
footer.rodape section.footer-2 {
  background-color: rgba(1, 3, 138, 0.9411764706);
  color: #fff !important;
}
footer.rodape section.footer-2 .container {
  display: flex;
  justify-content: space-between;
}
footer.rodape section.footer-2 .container .news h2 {
  text-align: center;
  color: #fff;
}
footer.rodape section.footer-2 .container .news .form {
  width: 350px;
}
footer.rodape section.footer-2 .container .news .form .form-control input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  color: #787878;
}
footer.rodape section.footer-2 .container .news .form .form-control input::placeholder {
  font-size: 2rem;
  text-align: center;
  color: #ccc;
}

section.detalhes-company .container .informar {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
section.detalhes-company .container .informar .heart {
  transition: all ease-in-out 0.2s;
  padding: 5px;
  border-bottom: 2px solid transparent;
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0;
}
section.detalhes-company .container .informar .heart:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .informar .back {
  transition: all ease-in-out 0.2s;
  padding: 5px;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #383BFF;
}
section.detalhes-company .container .informar .back:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .informar .back i {
  font-size: 3rem;
  width: 50px;
  color: #383BFF;
}
section.detalhes-company .container .name-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.detalhes-company .container .details-company {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 602px;
  width: 1440px;
  grid-gap: 10px;
  height: 100%;
  justify-content: center;
  align-content: center;
}
section.detalhes-company .container .details-company .image {
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
  padding: 20px;
  display: block;
  position: relative;
  object-fit: cover;
  grid-column: 1/2;
}
section.detalhes-company .container .details-company .image:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .details-company .number-invest {
  text-align: center;
  border-bottom: 2px solid red;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
section.detalhes-company .container .details-company .number-invest h1 {
  font-size: 10rem;
}
section.detalhes-company .container .details-company .number-invest:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .details-company .info-company {
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
  grid-column: 3/5;
  padding: 5px 25px 25px 23px;
}
section.detalhes-company .container .details-company .info-company:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .details-company .info-company .top {
  margin: 0;
}
section.detalhes-company .container .details-company .info-company .top .dados-semana {
  height: 100%;
  border-bottom: 1px solid #fff;
  background-color: blue;
  color: #fff;
}
section.detalhes-company .container .details-company .info-company .top .dados-semana ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.detalhes-company .container .details-company .info-company .top .dados-semana ul li {
  margin: 0 25px;
  align-self: flex-end;
}
section.detalhes-company .container .details-company .info-company .top .dados-day ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.detalhes-company .container .details-company .info-company .top .dados-day ul li {
  margin: 0 25px;
  color: #424242;
}
section.detalhes-company .container .details-company .info-company .top .infoCompany {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
section.detalhes-company .container .details-company .info-company .top .infoCompany .cardDetails {
  text-align: center;
  border: 1px solid #000000;
}
section.detalhes-company .container .details-company .info-company .top .infoCompany .cardDetails h2 {
  background-color: #ccc;
  padding: 0;
  margin: 0;
}
section.detalhes-company .container .details-company .text-company {
  grid-column: 1/3;
  padding: 25px 25px 25px 5px;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
section.detalhes-company .container .details-company .text-company:hover {
  border-left: 2px solid #383BFF;
  border-bottom: 2px solid #383BFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
section.detalhes-company .container .details-company .button-invest {
  border-bottom: 2px solid #383BFF;
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/6;
}
section.detalhes-company .container .details-company .button-invest .posicao {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.detalhes-company .container .details-company .button-invest .posicao .avaliacao {
  margin: 20px 45px;
}

.container section.descriptioCompany {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0px 10px;
}
.container section.descriptioCompany .headerTab {
  border-left: 8px solid #424242;
  height: 200px;
}
.container section.descriptioCompany .headerTab .visaoCompay {
  padding: 8px;
}
.container section.descriptioCompany .headerTab .active {
  background: rgb(0, 60, 213);
  color: #fff;
}

#Money {
  width: 100%;
  height: 130vh;
  margin: 0;
}

section.tirarFundo {
  background-color: #d6d6f4;
}
section.tirarFundo .container-800 {
  position: relative;
  margin-top: 90px;
  padding: 0;
}
section.tirarFundo .container-800 .texto h1,
section.tirarFundo .container-800 .texto p {
  text-align: center;
  margin: 1rem 0;
}
section.tirarFundo .container-800 .texto .title {
  text-transform: uppercase;
}
section.tirarFundo .container-800 .texto p {
  font-size: 1.2rem;
  max-width: 600px;
  inset: 0;
  margin: 8px auto;
}
section.tirarFundo .container-800 .texto p span {
  color: #383bff;
}
section.tirarFundo .container-800 .boxMoney {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.tirarFundo .container-800 .boxMoney h3 {
  color: #fff;
  padding: 16px;
  width: 100%;
  background-color: #383bff;
  max-width: 700px;
}
section.tirarFundo .container-800 .boxMoney .form {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
section.tirarFundo .container-800 .boxMoney .form .form-control {
  margin: 10px 0;
  display: flex;
}
section.tirarFundo .container-800 .boxMoney .form .form-control [type=text] {
  width: 60px;
  display: inline-block;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.6rem;
  background-color: #383bff;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
section.tirarFundo .container-800 .boxMoney .form .form-control [type=number] {
  padding: 1rem;
  width: 250px;
  height: 50px;
  border: 1px solid #01038a;
}

section.tabelaReferencia .container h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #383bff;
  border-bottom: 2px solid #383bff;
  margin-bottom: 25px;
}
section.tabelaReferencia .container .tabela__result {
  position: relative;
  background: #fff;
  height: 200px;
  overflow: auto;
}
section.tabelaReferencia .container .tabela__result::-webkit-scrollbar {
  width: 0.5rem;
}
section.tabelaReferencia .container .tabela__result::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 54, 0.9411764706);
  border-radius: 8px;
}
section.tabelaReferencia .container .tabela__result::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
  opacity: 9;
}
section.tabelaReferencia .container .tabela__result table {
  position: relative;
  width: 100%;
  inset: 0;
  margin: 0 auto;
  border-collapse: collapse;
  overflow: hidden;
}
section.tabelaReferencia .container .tabela__result table thead {
  background-color: #383bff;
}
section.tabelaReferencia .container .tabela__result table thead tr th {
  height: 50px;
  text-align: center;
  color: #fff;
}
section.tabelaReferencia .container .tabela__result table tbody tr {
  background-color: #d6d6f4;
  height: 40px;
  text-align: center;
  transition: all 0.3s;
}
section.tabelaReferencia .container .tabela__result table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
section.tabelaReferencia .container .tabela__result table tbody tr:hover {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

section.paginacao .container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid #383bff;
}
section.paginacao .container .paginas span {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #d6d6f4;
  color: #444444;
}
section.paginacao .container .paginas .active {
  background-color: #383bff;
  color: #fff;
}
section.paginacao .container .impressao form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.paginacao .container .impressao form .form-control {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 50px;
}
section.paginacao .container .impressao form .form-control input {
  height: 40px;
  width: 100%;
  padding: 6px;
  font-size: 1.6rem;
  border: 1px solid #383bff;
  color: #383bff;
}
section.paginacao .container .impressao form .form-control h4 {
  padding: 6px;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 1.6rem;
  background-color: #383bff;
}

section.dadoEmpresa .container {
  overflow: visible;
  inset: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 0 2%;
}
section.dadoEmpresa .container .box-info {
  margin-bottom: 30px;
}
section.dadoEmpresa .container .card-Box {
  padding: 0px 0;
  border-radius: 8px 0;
  text-align: center;
  color: #fff;
  width: 200px;
}
section.dadoEmpresa .container .card-Box span, section.dadoEmpresa .container .card-Box h3 {
  padding: 15px 15px 15px 15px;
  color: #fff;
}
section.dadoEmpresa .container .card-Box span {
  padding: 15px 0px 0px 0;
  display: block;
}
section.dadoEmpresa .container .card-Box h2 {
  padding: 0;
  color: #fff;
}
section.dadoEmpresa .container .investido {
  background-color: #ff7a00;
}
section.dadoEmpresa .container .investido h3 {
  background-color: #383bff;
}
section.dadoEmpresa .container .ganhos {
  background-color: #02de5a;
}
section.dadoEmpresa .container .ganhos h3 {
  background-color: #383bff;
  color: #fff;
}
section.dadoEmpresa .container .box-info {
  grid-column: 1/3;
  align-self: center;
  display: flex;
  column-gap: 25px;
  align-items: start;
  justify-content: end;
}
section.dadoEmpresa .container .info-analytic {
  height: 100%;
  grid-column: 1/3;
}
section.dadoEmpresa .container .info-analytic h2 {
  grid-column: 1/3;
  border-top: 1px solid #ccc;
}
section.dadoEmpresa .container .info-analytic .empresas {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.dadoEmpresa .container .info-analytic .empresas .empresa {
  display: flex;
  flex-direction: column;
}
section.dadoEmpresa .container .info-analytic .empresas .empresa .content-image {
  width: 400px;
  height: 300px;
  position: relative;
}
section.dadoEmpresa .container .info-analytic .empresas .empresa span {
  color: #383bff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 30px 0;
}
section.dadoEmpresa .container .info-analytic .empresas .empresa p {
  width: 500px;
  margin: 10px auto;
  text-align: justify;
}
section.dadoEmpresa .container .info-analytic .empresas .empresa button {
  inset: 0;
  margin: 5px auto;
}
section.dadoEmpresa .container .info-analytic .empresas .analytic {
  align-self: flex-end;
}
section.dadoEmpresa .container .info-analytic .empresas .analytic .content-analytic {
  background-color: rgb(97, 17, 77);
  width: 500px;
  height: 300px;
}
section.dadoEmpresa .container .dados_actualizado {
  position: relative;
  margin-top: 40px;
  grid-column: 1/3;
  position: relative;
  display: flex;
  justify-content: space-around;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada {
  width: 400px;
  height: 200px;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada .tabela {
  overflow: auto;
  height: 200px;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada h2 {
  top: 0;
  left: 0;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada table {
  width: 100%;
  border-collapse: collapse;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada table thead tr {
  text-align: center;
  background-color: #383bff;
}
section.dadoEmpresa .container .dados_actualizado .box__actaualizada table tbody tr {
  text-align: center;
}

.header-financiamento {
  background-color: #383bff;
}
.header-financiamento .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-financiamento .container .tipocompany {
  background-color: red;
}
.header-financiamento .container .companyAtive form label {
  color: #fff;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-financiamento .container .companyAtive form label span {
  margin-right: 2rem;
}

section.financiamento {
  position: relative;
}
section.financiamento .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50.5vh;
  z-index: 1;
  background-color: #d6d6f4;
}
section.financiamento .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.financiamento .container .texto {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 36px 0;
  color: #383bff;
}
section.financiamento .container .texto h1, section.financiamento .container .texto p {
  color: #383bff;
}
section.financiamento .container .texto .title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
section.financiamento .container .texto .warning {
  color: #ff7a00;
  font-weight: 600;
}
section.financiamento .container .contactArea {
  max-width: 700px;
  width: 100%;
}
section.financiamento .container .contactArea .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.financiamento .container .contactArea .form .form-control {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
section.financiamento .container .contactArea .form .form-control [type=text] {
  height: 40px;
  width: 320px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.6rem;
  color: #383bff;
  font-family: "Roboto", sans-serif;
}
section.financiamento .container .contactArea .form .emailMobile {
  flex-direction: column;
}
section.financiamento .container .contactArea .form .form-textarea {
  width: 100%;
  max-width: 700px;
  padding: 0 2%;
}
section.financiamento .container .contactArea .form .form-textarea textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  outline: none;
  resize: none;
  font-size: 1.6rem;
  color: #444444;
}
section.financiamento .container .contactArea .form .form-textarea textarea:is(:focus, :focus-visible) {
  border: 2px solid #01038a;
}
section.financiamento .container .contactArea .form .form-textarea textarea::-webkit-scrollbar {
  width: 0px;
}
section.financiamento .container .contactArea .form .form-textarea .shortInfo {
  background-color: #383bff;
  padding: 10px 2px 10px 30px;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
section.financiamento .container .contactArea .form .form-textarea .shortInfo span {
  width: 50%;
  color: #fff;
}
section.financiamento .container .contactArea .form .form-textarea .shortInfo .mount {
  width: 50%;
  color: #fff;
}
section.financiamento .container .contactArea .form .form-textarea .shortInfo .mount span {
  padding: 0 6px;
}
section.financiamento .container .contactArea .form .form-textarea .shortInfo .mount [type=number] {
  font-size: 1.6rem;
  color: #383bff;
  padding: 10px;
}
section.financiamento .container .contactArea .form .form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.financiamento .container .contactArea .form .form-submit .send {
  background-color: #d6d6f4;
  padding: 10px 30px;
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 2fr 2fr 0.9fr;
  grid-template-rows: 8rem auto auto auto;
  grid-template-areas: "lefte navtop navtop rights" "lefte main main rights" "lefte main main rights" "lefte main main rights";
}

.menu-top {
  padding: 0 3rem;
  grid-area: navtop;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-top .avatar {
  display: flex;
  align-items: center;
}
.menu-top .avatar .image {
  background-color: pink;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 2rem;
  border: 2px solid #383bff;
}
.menu-top .avatar .name-types {
  display: flex;
  column-gap: 25px;
}
.menu-top .avatar .name-types .name {
  color: #ccc;
}
.menu-top .avatar .name-types .admin {
  color: #383bff;
}
.menu-top .form {
  width: 500px;
}
.menu-top .form form {
  display: flex;
  align-content: center;
  position: relative;
}
.menu-top .form form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 1.6rem;
  margin-right: 2rem;
  padding: 0 3rem;
  color: #787878;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  line-height: 125%;
  font-family: "Lato", sans-serif;
}
.menu-top .form form button {
  top: 10px;
  right: 3rem;
  position: absolute;
  background-color: transparent;
}
.menu-top .form form button .bx {
  color: #383bff;
  font-size: 2rem;
  color: #383bff;
}

#navBar {
  background-color: #383bff;
  border-right: 1px solid #ccc;
  grid-area: lefte;
  position: sticky;
  top: 0;
  height: 100vh;
  padding-left: 2rem;
}
#navBar .emainvest-logo {
  position: absolute;
  height: 8rem;
  width: 100%;
}
#navBar .brand {
  margin-top: 10rem;
  margin-bottom: 3rem;
}
#navBar .brand .avatar {
  display: block;
  position: relative;
  object-fit: cover;
  background-color: red;
  height: 150px;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 3rem;
}
#navBar .brand .dash {
  display: flex;
  align-items: center;
}
#navBar nav span {
  display: inline-block;
  color: #d6d6f4;
  font-weight: 600;
  margin-bottom: 12px;
}
#navBar nav ul li {
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}
#navBar nav ul li:hover {
  border-bottom: 1px solid #383bff;
  transform: translateX(-26px);
  background-color: #fff;
}
#navBar nav ul li a {
  padding: 12px 15px;
  position: relative;
}
#navBar nav ul li:hover a {
  color: #383bff;
}
#navBar nav ul li .icon {
  margin-right: 2rem;
  font-size: 2rem;
}

.aside-right {
  background-color: white;
  grid-area: rights;
  position: sticky;
  top: 0;
  height: 100vh;
}

section.login-acesso {
  min-height: calc(100vh - 100px);
  flex: 1 0 auto;
}
section.login-acesso .min-container h1 {
  text-align: center;
}
section.login-acesso .min-container .login-area {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.login-acesso .min-container .login-area .text-left {
  background-color: #01038A;
  width: 300px;
  text-align: center;
  padding: 20px 10px;
}
section.login-acesso .min-container .login-area .text-left h1, section.login-acesso .min-container .login-area .text-left p {
  color: #fff;
}
section.login-acesso .min-container .login-area .text-left p {
  color: #fff;
  font-size: 1.3rem;
}
section.login-acesso .min-container .login-area .login-acess {
  width: 100%;
  max-width: 300px;
  padding: 30px 15px;
}
section.login-acesso .min-container .login-area .login-acess .form .form-control {
  margin: 30px 0;
}
section.login-acesso .min-container .login-area .login-acess .form .form-control input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
section.login-acesso .min-container .login-area .login-acess .form .form-control input:focus {
  border-bottom: 2px solid #01038A;
}
section.login-acesso .min-container .login-area .login-acess .form .form-control:nth-child(2) {
  margin-bottom: 10px;
}
section.login-acesso .min-container .login-area .login-acess .form .form-checkbox {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
section.login-acesso .min-container .login-area .login-acess .form .form-checkbox label {
  font-size: 1.3rem;
  margin-right: 5px;
  color: #047aed;
}
section.login-acesso .min-container .login-area .login-acess .form .form-checkbox .label-register {
  font-size: 1rem;
  padding: 0 5px;
}
section.login-acesso .min-container .login-area .login-acess .form input[type=submit] {
  width: 100%;
  height: 40px;
  margin: 5px 0 12px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #047aed;
  cursor: pointer;
}
section.login-acesso .min-container .login-area .login-acess .form input[type=submit]:hover {
  background-color: #01038A;
  transform: scale(0.9);
}
section.login-acesso .min-container .login-area .login-acess .form .account {
  display: flex;
  align-items: start;
}
section.login-acesso .min-container .login-area .login-acess .form .account p {
  font-size: 1.3rem;
  margin: 0 10px 0 0;
  color: #ce4f00;
}
section.login-acesso .min-container .login-area .login-acess .form .account a {
  color: #047aed;
}
section.login-acesso .min-container .login-area .login-acess .form .account a:hover {
  color: #01038A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  font-family: "Poppins", sans-serif;
}

.hight {
  min-height: 70vh;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f1f1f1;
}

.active a {
  color: #383bff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.padding {
  padding: 70px 0;
}

.padding-20 {
  padding: 20px 0;
}

.container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1440px;
}

.min-container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 600px;
}

.container-800 {
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
  max-width: 800px;
}

a {
  text-decoration: none;
  color: #ccc;
  line-height: 1.5;
  transition: all ease-in 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #444444;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #787878;
  padding: 0;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  transition: all ease-in 0.3s;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  font-family: "Roboto";
  outline: none;
  border: 0;
  transition: all ease-in-out 0.2s;
}

.top {
  margin: 5rem 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
  font-size: 1.8rem;
}

.title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  font-weight: 400;
  color: #424242;
}
.title span {
  color: #01038a;
}

/*# sourceMappingURL=globals.css.map */
